:root{
  --bg-page:#302e2b;
  --sq-light:#f0d9b5;
    --sq-dark:#b58863;
}

*{
  box-sizing:border-box;
}

html,
body{
  width:100%;
  height:100%;
  margin:0;
  overflow:hidden;
}

body{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  /*
    Board ko width aur height
    dono ke andar fit rakhenge
  */
  padding:10px;

  background: var(--bg-page);
  font-family:'Segoe UI', Arial, sans-serif;
}
/* =========================
   BOARD
========================= */

.board{
  display:grid;

  width:min(
    calc(100vw - 32px),
    calc(100vh - 90px),
    736px
  );

  height:min(
    calc(100vw - 32px),
    calc(100vh - 90px),
    736px
  );

  grid-template-columns:repeat(8, 1fr);
  grid-template-rows:repeat(8, 1fr);

  border: 5px solid #d0a37f;

  border-radius:10px;
  overflow:hidden;
}


/* =========================
   SQUARE
========================= */

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.square.light{
  background:var(--sq-light);
}

.square.dark{
  background:var(--sq-dark);
}

.pieces{
    width:97%;
    height:97%;
    object-fit:contain;
    position:relative;
    z-index:2;
    cursor:pointer;
    user-select:none;
}